<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vilateé Essence</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

  <body>
    {% include "components/navbar.html.jinja"%}
    <h1>Cart</h1>
    {% if len(products)>0 %}
      <div class="container col-8 table-responsive">
        <table class="table">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>

    
    </thead>
  <tbody>
     
    {% for product in products %}

        <td>
            <form id="updateForm-{{ item['id']}}" action="/cart/{{ item['id']}}/update" method="post">
                <input
                    type ="number"
                    class="form-control"
                    style="wdith:80px"
                    value="{{ item['quantity']}}"
                    min="1"
                    name = quantity
                >
            </form>
        </td>

        <td> {{ "%.2f" | format(item['price'] * item['quantity']) }}</td>

        <button form="updateForm-{{ item['id']}}" type="submit" class="btn btn-primary btn-sm">
        <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M7.5.5l.29-.407a.5.5 0 00-.58 0L7.5.5zm7 5h.5a.5.5 0 00-.21-.407l-.29.407zm0 4l.29.407A.5.5 0 0015 9.5h-.5zm-7 5l-.29.407a.5.5 0 00.58 0L7.5 14.5zm-7-5H0a.5.5 0 00.21.407L.5 9.5zm0-4l-.29-.407A.5.5 0 000 5.5h.5zM7.21.907l7 5 .58-.814-7-5-.58.814zM14 5.5v4h1v-4h-1zm.21 3.593l-7 5 .58.814 7-5-.58-.814zm-6.42 5l-7-5-.58.814 7 5 .58-.814zM1 9.5v-4H0v4h1zM.79 5.907l7-5-.58-.814-7 5 .58.814zm0 4l7-5-.58-.814-7 5 .58.814zm6.42-5l7 5 .58-.814-7-5-.58.814zm-7 1l7 5 .58-.814-7-5-.58.814zm7.58 5l7-5-.58-.814-7 5 .58.814zM7 .5v4h1v-4H7zm0 10v4h1v-4H7z" fill="currentColor"></path></svg>
        </button>

        <button form="/cart/{{ item['id']}}/del" type="submit"  class="btn btn-danger btn-sm">
            <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M4.5 3V1.5a1 1 0 011-1h4a1 1 0 011 1V3M0 3.5h15m-13.5 0v10a1 1 0 001 1h10a1 1 0 001-1v-10M7.5 7v5m-3-3v3m6-3v3" stroke="currentColor"></path></svg>
        </button>

        <tr>
           <th scope="row">{{product[id]}}</th>
           <td>{{product['name']}}</td>
           <td>${{product['price']}}</td>
           <td>{{product['quantity']}}</td>
           <td>${{product['price']*product['quantity']}}</td>
        
        </tr>

    {% else %}
        <div> 
            <h2>Your Cart is Empty. Continue Shopping!</h2>
        </div>
    
    {% endfor %}

        <tfoot>
            <tr class="table-light">
                <td colspan="4" class="text-end"><strong>Total:</strong></td>
                <td colspan="2"> 
                    <strong> {{ "%.2f" | format(cart_total) }}  </strong>
                </td>
            </tr>
        
        </tfoot>


        </div>
    </table>
    </body>
 </html>